<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Shopping</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #232f3e;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo img {
            max-height: 50px;
        }

        .search-bar {
            display: flex;
        }

        .search-bar input {
            padding: 8px;
            border: none;
            border-radius: 3px 0 0 3px;
        }

        .search-bar button {
            padding: 8px 15px;
            background-color: #FF9900;
            color: #fff;
            border: none;
            border-radius: 0 3px 3px 0;
            cursor: pointer;
        }

        .user-account {
            display: flex;
            align-items: center;
        }

        .user-account span {
            margin-right: 10px;
        }

        .user-account a {
            color: #fff;
            margin-right: 10px;
            text-decoration: none;
        }

        .user-account a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="https://logos-world.net/wp-content/uploads/2021/08/Amazon-Web-Services-AWS-Logo.png" alt="Amazon Logo">
            </div>
            <div class="container">
        <h1>2 Tier Application with Flask and MYSQL!</h1>
        {% for message in messages %}
            <p>{{ message[0] }}</p>
        {% endfor %}

        <form action="/submit" method="post">
            <input type="text" name="new_message" placeholder="Enter a new message">
            <input type="submit" value="Submit">
        </form>
    </div>
            <div class="user-account">
                <span>Hello, User</span>
                <a href="#">Your Account</a>
                <a href="#">Cart</a>
            </div>
        </div>
    </header>

    <main>
        <section class="product-list">
            <!-- Product listings with images, titles, prices, and add to cart buttons -->
      
            <!-- Add more product divs as needed -->
        </section>
    </main>

    <footer>
        <!-- Footer with links, policies, and copyright information -->
    </footer>
</body>

</html>


